# Projet 4

## Importation des données

In [89]:
#importe les librairies nécéssaires
import pandas as pd
import numpy as np

In [3]:
sous_nutrition = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 4\\fichier_projet_4\\sous_nutrition.csv')
aide_alimentaire = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 4\\fichier_projet_4\\aide_alimentaire.csv')
population = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 4\\fichier_projet_4\\population.csv')
dispo_alimentaire = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 4\\fichier_projet_4\\dispo_alimentaire.csv')
cereales = pd.read_csv('C:\\Users\\antoi\\OneDrive\\Bureau\\openclassrooms\\Projet 4\\fichier_projet_4\\cereales.csv', delimiter=',')

## Etudes fichiers csv

### dispo_alimentaire

In [4]:
dispo_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2720 non-null   float64
 4   Autres Utilisations                                            5496 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 9   Disponibilité intérieure                                       15382 non-null  float64
 10  Exportations - Quantité                                        12226 non-null  float64
 11  Importations - Quantité                                        14852 non-null  float64
 12  Nourriture                                                     14015 non-null  float64
 13  Pertes                                                         4278 non-null   float64
 14  Production                                                     9180 non-null   float64
 15  Semences                                                       2091 non-null   float64
 16  Traitement                                                     2292 non-null   float64
 17  Variation de stock                                             6776 non-null   float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB

In [5]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

### population

In [6]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1416 non-null   object
 1   Année   1416 non-null   int64
 2   Valeur  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB

In [7]:
population.describe()

             Année        Valeur
count  1416.000000  1.416000e+03
mean   2015.500000  3.144793e+04
std       1.708428  1.300812e+05
min    2013.000000  7.930000e-01
25%    2014.000000  3.783410e+02
50%    2015.500000  5.126480e+03
75%    2017.000000  1.930666e+04
max    2018.000000  1.427648e+06

In [8]:
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

population.info()

In [9]:
#Changement de noms pour les colonnes Valeur pour des noms plus représentatifs
sous_nutrition = sous_nutrition.rename(columns={"Valeur":"Nb de personnes en sous-nutrition"})
aide_alimentaire = aide_alimentaire.rename(columns={"Valeur":"Aide alimentaire en kg"})
population = population.rename(columns={"Valeur":"Nombre d'habitants"})

In [ ]:
#Changement de noms pour les colonnes Valeur pour des noms plus représentatifs
sous_nutrition = sous_nutrition.rename(columns={"Valeur":"Nb de personnes en sous-nutrition"})
aide_alimentaire = aide_alimentaire.rename(columns={"Valeur":"Aide alimentaire en kg"})
population = population.rename(columns={"Valeur":"Nombre d'habitants"})

In [ ]:
#Changement de noms pour la colonne Pays bénéficiaire en Zone
aide_alimentaire = aide_alimentaire.rename(columns={"Pays bénéficiaire":"Zone"})

In [ ]:
#Remplace les NaN par des 0 dans les tables sous_nutrition et dispo_alimentaire
sous_nutrition = sous_nutrition.fillna(value={"Nb de personnes en sous-nutrition": 0})
dispo_alimentaire = dispo_alimentaire.fillna(0)

In [ ]:
#Remplace les '<0,1' par des 0 dans sous_nutrition
sous_nutrition.loc[sous_nutrition['Nb de personnes en sous-nutrition'] == '<0.1', 'Nb de personnes en sous-nutrition'] = 0

In [ ]:
#Résume les périodes en années dans sous_nutrition pour les jointures de tables
sous_nutrition.loc[sous_nutrition['Année'] == '2012-2014', 'Année'] = 2013
sous_nutrition.loc[sous_nutrition['Année'] == '2013-2015', 'Année'] = 2014
sous_nutrition.loc[sous_nutrition['Année'] == '2014-2016', 'Année'] = 2015
sous_nutrition.loc[sous_nutrition['Année'] == '2015-2017', 'Année'] = 2016
sous_nutrition.loc[sous_nutrition['Année'] == '2016-2018', 'Année'] = 2017
sous_nutrition.loc[sous_nutrition['Année'] == '2017-2019', 'Année'] = 2018

In [ ]:
#Convertit la colonne "Nb de personnes en sous-nutrition" en décimal
sous_nutrition["Nb de personnes en sous-nutrition"] = pd.to_numeric(sous_nutrition["Nb de personnes en sous-nutrition"])

In [ ]:
#Convertit la colonne "Année" en entier
sous_nutrition["Année"] = pd.to_numeric(sous_nutrition["Année"])

In [ ]:
#Remise à l'échelle des valeur d'habitants
sous_nutrition['Nb de personnes en sous-nutrition'] *= 1000000
population["Nombre d'habitants"] *= 1000

In [ ]:
#Conversion des tonnes en kgs
aide_alimentaire['Aide alimentaire en kg'] *= 1000

In [10]:
#Conversion des milliers de tonnes en kgs
dispo_alimentaire.loc[:, 'Disponibilité intérieure':'Variation de stock']*=1000000
dispo_alimentaire['Autres Utilisations']*=1000000
dispo_alimentaire['Aliments pour animaux']*=1000000

### Aide_alimentaire

In [11]:
aide_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Zone                    1475 non-null   object
 1   Année                   1475 non-null   int64
 2   Produit                 1475 non-null   object
 3   Aide alimentaire en kg  1475 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.2+ KB

In [12]:
aide_alimentaire.head()

          Zone  Année              Produit  Aide alimentaire en kg
0  Afghanistan   2013  Autres non-céréales                  682000
1  Afghanistan   2014  Autres non-céréales                  335000
2  Afghanistan   2013         Blé et Farin                39224000
3  Afghanistan   2014         Blé et Farin                15160000
4  Afghanistan   2013             Céréales                40504000

In [13]:
aide_alimentaire.describe()

             Année  Aide alimentaire en kg
count  1475.000000            1.475000e+03
mean   2014.054237            7.481967e+06
std       0.946916            2.333953e+07
min    2013.000000            0.000000e+00
25%    2013.000000            2.875000e+05
50%    2014.000000            1.178000e+06
75%    2015.000000            4.334500e+06
max    2016.000000            2.650130e+08

### Sous_nutrition

In [14]:
sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Zone                               1218 non-null   object
 1   Année                              1218 non-null   int64
 2   Nb de personnes en sous-nutrition  1218 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.7+ KB

In [15]:
sous_nutrition.describe()

             Année  Nb de personnes en sous-nutrition
count  1218.000000                       1.218000e+03
mean   2015.500000                       2.614778e+06
std       1.708527                       1.414881e+07
min    2013.000000                       0.000000e+00
25%    2014.000000                       0.000000e+00
50%    2015.500000                       0.000000e+00
75%    2017.000000                       1.200000e+06
max    2018.000000                       2.038000e+08

In [16]:
sous_nutrition.head()

          Zone  Année  Nb de personnes en sous-nutrition
0  Afghanistan   2013                          8600000.0
1  Afghanistan   2014                          8800000.0
2  Afghanistan   2015                          8900000.0
3  Afghanistan   2016                          9700000.0
4  Afghanistan   2017                         10500000.0

### cereales

In [17]:
cereales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34740 entries, 0 to 34739
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            34740 non-null  object
 1   Domaine                 34740 non-null  object
 2   Code zone (M49)         34740 non-null  int64
 3   Zone                    34740 non-null  object
 4   Code Élément            34740 non-null  int64
 5   Élément                 34740 non-null  object
 6   Code Produit (CPC)      34740 non-null  object
 7   Produit                 34740 non-null  object
 8   Code année              34740 non-null  int64
 9   Année                   34740 non-null  int64
 10  Unité                   23744 non-null  object
 11  Valeur                  23744 non-null  float64
 12  Symbole                 23744 non-null  object
 13  Description du Symbole  23744 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 3.7+ MB

In [18]:
cereales.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit (CPC),Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5511,Production,S2511,Blé et produits,2013,2013,Milliers de tonnes,5169.0,I,Valeur imputée
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5611,Importations - Quantité,S2511,Blé et produits,2013,2013,Milliers de tonnes,1812.0,I,Valeur imputée
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5072,Variation de stock,S2511,Blé et produits,2013,2013,Milliers de tonnes,343.0,I,Valeur imputée
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5911,Exportations - Quantité,S2511,Blé et produits,2013,2013,NaN,NaN,NaN,NaN
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5301,Disponibilité intérieure,S2511,Blé et produits,2013,2013,Milliers de tonnes,6639.0,I,Valeur imputée

In [19]:
cereales.describe()

       Code zone (M49)  Code Élément  Code année    Année        Valeur
count     34740.000000  34740.000000     34740.0  34740.0  2.374400e+04
mean        429.056995   3701.250000      2013.0   2013.0  1.815988e+05
std         255.113730   2234.294606         0.0      0.0  5.715439e+06
min           4.000000    645.000000      2013.0   2013.0 -6.369000e+03
25%         204.000000    679.250000      2013.0   2013.0  0.000000e+00
50%         422.000000   5136.500000      2013.0   2013.0  3.000000e+00
75%         643.000000   5353.500000      2013.0   2013.0  1.211025e+02
max         894.000000   5911.000000      2013.0   2013.0  4.347332e+08

## Proportion de personnes en éta de sous-nutrition en 2017

In [20]:
#Jointure des tables sous_nutrition et population
prop_sous_nutrition = pd.merge(sous_nutrition, population, how='right', on = ['Zone', 'Année'])

In [21]:
#Isolation des données de l'année 2017
prop_sous_nutrition = prop_sous_nutrition.loc[prop_sous_nutrition['Année'] == 2017]

In [22]:
#Agrégation des données de la table jointe par l'année
prop_sous_nutrition = prop_sous_nutrition.groupby(['Année']).sum()

In [23]:
#Création de la colonne qui affiche le % de personnes en sous-nutrition dans le monde
prop_sous_nutrition['Proportion de personnes en sous-nutrition en %'] = (prop_sous_nutrition['Nb de personnes en sous-nutrition']/prop_sous_nutrition["Nombre d'habitants"]*100).round(2)

In [24]:
prop_sous_nutrition

,Nb de personnes en sous-nutrition,Nombre d'habitants,Proportion de personnes en sous-nutrition en %
Année,,,
2017,535700000.0,7.548134e+09,7.1

## Nombre théorique de personnes qui pourraient être nourries

In [25]:
#Moyenne des besoins pour un aduklte
besoins = (2400+2700+2000+2200)/4

In [26]:
#Créé une nouvelle table contenant les données de population de l'année 2017
population_2017 = population.loc[population['Année'] == 2017]

In [27]:
#Jointure dispo_alimentaire et population_2017
dispo_ali_2017 = pd.merge(dispo_alimentaire, population_2017, on= "Zone")

In [28]:
#Créé une nouvelle colonne donnant les Kcal/jour dont dispose un pays
dispo_ali_2017["Kcal/jour"] = dispo_ali_2017["Disponibilité alimentaire (Kcal/personne/jour)"] * dispo_ali_2017["Nombre d'habitants"]

In [29]:
#Fait la somme des Kcal/jour disponible dans le monde
dispo_ali_2017 = dispo_ali_2017["Kcal/jour"].sum()

In [30]:
#Divise les Kcal/jour disponible dans le monde par le nombre de Kcal par jour nécéssaire pour une personne en moyenne.
dispo_ali_2017 = dispo_ali_2017/besoins

In [31]:
#Converti le nombre de théorique personne qu'on peut nourrir en entier
dispo_ali_2017_int = dispo_ali_2017.astype('int64')

In [32]:
#Affiche le nombre théorique personne qu'on peut nourrir
print("En 2017 on aurait pu nourrir", dispo_ali_2017_int, "personnes.")

En 2017 on aurait pu nourrir 8997412742 personnes.

## Nombre théoriques de personnes pouvant être nourries avec les produits d'origine végatale

In [33]:
#Créé une nouvelle table contenant les données de dispo_alimentaire pour les produits d'origine végétale
dispo_alimentaire_veg = dispo_alimentaire.loc[dispo_alimentaire['Origine'] == "vegetale"]

In [34]:
#Créé une nouvelle table qui résulte de l'assiociation de dispo_alimentaire_veg et population_2017
dispo_ali_2017_veg = pd.merge(dispo_alimentaire_veg, population_2017, on= "Zone")

In [35]:
#Créé une nouvelle colonne donnant les Kcal/jour dont dispose un pays 
dispo_ali_2017_veg["Kcal/jour"] = dispo_ali_2017_veg["Disponibilité alimentaire (Kcal/personne/jour)"] * dispo_ali_2017_veg["Nombre d'habitants"]

In [36]:
#Fait la somme des Kcal/jour disponible dans le monde
dispo_ali_2017_veg = dispo_ali_2017_veg["Kcal/jour"].sum()

In [37]:
#Divise les Kcal/jour disponible dans le monde par le nombre de Kcal par jour nécéssaire pour une personne en moyenne.
dispo_ali_2017_veg = dispo_ali_2017_veg/besoins

In [38]:
#Converti le nombre de théorique personne qu'on peut nourrir en entier
dispo_ali_2017_veg_int = dispo_ali_2017_veg.astype('int64')

In [39]:
#Affiche le nombre théorique personne qu'on peut nourrir
print("En 2017 on aurait pu nourrir", dispo_ali_2017_veg_int, "personnes uniquement avec des aliments d'origine végétale.")

En 2017 on aurait pu nourrir 7423984607 personnes uniquement avec des aliments d'origine végétale.

## Utilisation de la disponibilité intérieure en 2017

Disponibilité intérieure = Importations + Production - Exportations + Variation de stock

Disponibilité intérieure = Nourriture + Pertes + Semences + Traitement + Autres Utilisations + Aliments pour animaux

In [88]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

In [40]:
#Calcule des proportion de la disponibilité intérieure pour chaque catégorie
disp_an = dispo_alimentaire["Aliments pour animaux"].sum()/dispo_alimentaire["Disponibilité intérieure"].sum()*100
disp_pr = dispo_alimentaire["Pertes"].sum()/dispo_alimentaire["Disponibilité intérieure"].sum()*100
disp_nr = dispo_alimentaire["Nourriture"].sum()/dispo_alimentaire["Disponibilité intérieure"].sum()*100
disp_tr = dispo_alimentaire["Traitement"].sum()/dispo_alimentaire["Disponibilité intérieure"].sum()*100
disp_sm = dispo_alimentaire["Semences"].sum()/dispo_alimentaire["Disponibilité intérieure"].sum()*100
disp_au = dispo_alimentaire["Autres Utilisations"].sum()/dispo_alimentaire["Disponibilité intérieure"].sum()*100

In [41]:
## est ce que je peux tuliser une focntion ?
## for column in dispo_alimentaire
    ## dispo_alimentaire['columns'].sum()/dispo_alimentaire['Disponibilité intérieure'].sum()*100

In [42]:
#Additionne les catégories qui ne nous intéresse pas pour avoir la part du reste
disp_aut = disp_au + disp_sm + disp_tr

In [87]:
print(f'la part de la disponibilité intérieure utilisé pour les autres utilisations est {disp_aut}')
print(disp_an)
print(disp_nr)
print(disp_pr)

la part de la disponibilité intérieure utilisé pour les autres utilisations est 3.13212292698263
13.242418464261426
49.51021393657058
4.606541541196999

## Proportion de personnes sous-alimentées par pays en 2017

In [44]:
#Association des tables sous_nutrition et population
pop_sous_nutrition = pd.merge(sous_nutrition, population, on = ['Zone', 'Année'])

In [45]:
#Selection des données de l'année 2017
pop_sous_nutrition = pop_sous_nutrition.loc[pop_sous_nutrition['Année'] == 2017]

In [46]:
#Calcule le % de personnes en sous-nutrition
pop_sous_nutrition["% en sous-nutrition"] = pop_sous_nutrition["Nb de personnes en sous-nutrition"]/pop_sous_nutrition["Nombre d'habitants"]*100

In [47]:
#Range les valeurs du plus grand au plus petit
pop_sous_nutrition = pop_sous_nutrition.sort_values(by=["% en sous-nutrition"], ascending=False)

In [48]:
#Affiche les 10 premières valeurs
pop_sous_nutrition.head(10)

,Zone,Année,Nb de personnes en sous-nutrition,Nombre d'habitants,% en sous-nutrition
472,Haïti,2017,5300000.0,10982366.0,48.259182
946,République populaire démocratique de Corée,2017,12000000.0,25429825.0,47.188685
652,Madagascar,2017,10500000.0,25570512.0,41.062924
622,Libéria,2017,1800000.0,4702226.0,38.279742
604,Lesotho,2017,800000.0,2091534.0,38.249438
1102,Tchad,2017,5700000.0,15016753.0,37.957606
970,Rwanda,2017,4200000.0,11980961.0,35.055619
730,Mozambique,2017,9400000.0,28649018.0,32.810898
1120,Timor-Leste,2017,400000.0,1243258.0,32.173531
4,Afghanistan,2017,10500000.0,36296113.0,28.928718

## Dans le monde

In [49]:
#Association des tables sous_nutrition et population
pop_sous_nutrition_m = pd.merge(sous_nutrition, population, on = ['Zone', 'Année'])

In [50]:
#Slection des données de l'année 2017
pop_sous_nutrition_m = pop_sous_nutrition_m.loc[pop_sous_nutrition_m['Année'] == 2017]

In [51]:
#Ajoute la population totale du monde
pop_sous_nutrition_m["total population"] = pop_sous_nutrition_m["Nombre d'habitants"].sum()

In [52]:
#Calcule le % de personnes en sous-nutrition
pop_sous_nutrition_m["% en sous-nutrition monde"] = pop_sous_nutrition_m["Nb de personnes en sous-nutrition"]/pop_sous_nutrition_m["total population"]*100

In [53]:
#Range les valeurs du plus grand au plus petit
pop_sous_nutrition_m = pop_sous_nutrition_m.sort_values(by=["% en sous-nutrition monde"], ascending=False)

In [54]:
#Affiche les 10 premières valeurs
pop_sous_nutrition_m.head(10)

,Zone,Année,Nb de personnes en sous-nutrition,Nombre d'habitants,total population,% en sous-nutrition monde
508,Inde,2017,190100000.0,1.338677e+09,7.543799e+09,2.519951
820,Pakistan,2017,24800000.0,2.079062e+08,7.543799e+09,0.328747
514,Indonésie,2017,23600000.0,2.646510e+08,7.543799e+09,0.312840
772,Nigéria,2017,22800000.0,1.908732e+08,7.543799e+09,0.302235
100,Bangladesh,2017,21500000.0,1.596854e+08,7.543799e+09,0.285002
370,Éthiopie,2017,21100000.0,1.063999e+08,7.543799e+09,0.279700
868,Philippines,2017,15700000.0,1.051729e+08,7.543799e+09,0.208118
952,République-Unie de Tanzanie,2017,13400000.0,5.466034e+07,7.543799e+09,0.177629
946,République populaire démocratique de Corée,2017,12000000.0,2.542982e+07,7.543799e+09,0.159071
580,Kenya,2017,11900000.0,5.022114e+07,7.543799e+09,0.157745

## Pays qui ont le plus bénéficié d’aide depuis 2013

In [55]:
#Calcule la moyenne de l'aide alimentaire reçue par pays entre 2013 et 2018
aide_alimentaire_mean = aide_alimentaire.groupby(["Zone"]).mean().round(2)

In [56]:
#Range les valeurs d'aide alimentaire par ordre descendant
aide_alimentaire_mean = aide_alimentaire_mean.sort_values(by=['Aide alimentaire en kg'], ascending=False)

In [57]:
#Drop la colonne Année pour la lisibilité
aide_alimentaire_mean = aide_alimentaire_mean.drop(columns=['Année'])

In [58]:
#Affiche les 10 pays ayant reçus le plus d'aide alimentaire depuis 2013
aide_alimentaire_mean.head(10)

                                  Aide alimentaire en kg
Zone
République arabe syrienne                    48919552.63
Éthiopie                                     41857393.94
Yémen                                        31749578.95
Soudan du Sud                                31602181.82
Soudan                                       27907666.67
Kenya                                        20475407.41
Bangladesh                                   13927520.00
Pakistan                                     12161684.21
Afghanistan                                  11590750.00
République démocratique du Congo             11540080.00

## Disponibilité par habitant

In [59]:
#Fais la somme des données de dispo_alimentaire par pays
disp_al_sum = dispo_alimentaire.groupby(['Zone']).sum()

In [60]:
#Jointure entre les tables disp_al_sum et population_2017
disp_al_sum = pd.merge(disp_al_sum, population_2017, on= "Zone")

In [61]:
#Création de la colonne Disponibilité par habitants
disp_al_sum["Disponibilité par habitants"] = disp_al_sum["Disponibilité intérieure"]/disp_al_sum["Nombre d'habitants"]

In [62]:
#Drop les colonnes inutiles pour la lisibilité
disp_al_sum.drop(disp_al_sum.iloc[:, 1:18], inplace = True, axis = 1)

In [63]:
#Arrondi les valeurs pour la lisibilité
disp_al_sum = disp_al_sum.round(2)

In [64]:
#Range les valeurs du plus grand au plus petit et affiche le top 10
disp_al_sum = disp_al_sum.sort_values(by=["Disponibilité par habitants"], ascending=False)
disp_al_sum.head(10)

         Zone  Disponibilité par habitants
50   Eswatini                      5749.44
23     Brésil                      4971.83
63     Guyana                      4243.95
17     Belize                      4103.58
98    Maurice                      3769.87
44   Danemark                      3445.23
26    Bélarus                      2912.31
51      Fidji                      2848.00
10  Australie                      2724.96
88   Lituanie                      2624.22

In [65]:
#Range les valeurs du plus petit au plus grand et affiche le top 10
disp_al_sum = disp_al_sum.sort_values(by=["Disponibilité par habitants"], ascending=True)

In [66]:
#Range les valeurs du plus petit au plus grand et affiche le top 10
disp_al_sum = disp_al_sum.sort_values(by=["Disponibilité par habitants"], ascending=False)
disp_al_sum.head(10)

         Zone  Disponibilité par habitants
50   Eswatini                      5749.44
23     Brésil                      4971.83
63     Guyana                      4243.95
17     Belize                      4103.58
98    Maurice                      3769.87
44   Danemark                      3445.23
26    Bélarus                      2912.31
51      Fidji                      2848.00
10  Australie                      2724.96
88   Lituanie                      2624.22

## Utilisation des céréales

In [67]:
#Isole les données de la colonne Produit pour les céréales pour avoir la liste des céréales
cereales_2 = cereales["Produit"]

In [68]:
cereales_2.describe()

count               34740
unique                  9
top       Blé et produits
freq                 3860
Name: Produit, dtype: object

In [69]:
cereales_2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 34740 entries, 0 to 34739
Series name: Produit
Non-Null Count  Dtype
--------------  -----
34740 non-null  object
dtypes: object(1)
memory usage: 271.5+ KB

In [70]:
cereales_2.head()

0    Blé et produits
1    Blé et produits
2    Blé et produits
3    Blé et produits
4    Blé et produits
Name: Produit, dtype: object

In [71]:
#Suppression des doublons
cereales_2.drop_duplicates()

0         Blé et produits
20        Riz et produits
40       Orge et produits
60       Maïs et produits
80     Seigle et produits
100                Avoine
120    Millet et produits
140    Sorgho et produits
160      Céréales, Autres
Name: Produit, dtype: object

In [72]:
#Fusion des tables dispo_alimentaire et cereales_2 pour garder uniquement les données sur les céréales
utilisation_cereales = pd.merge(dispo_alimentaire, cereales_2, how='inner', on = "Produit")

In [73]:
#Calcule des proportion de la disponibilité intérieure pour chaque catégorie
disp_ala = utilisation_cereales["Aliments pour animaux"].sum()/utilisation_cereales["Disponibilité intérieure"].sum()*100
disp_prc = utilisation_cereales["Pertes"].sum()/utilisation_cereales["Disponibilité intérieure"].sum()*100
disp_nre = utilisation_cereales["Nourriture"].sum()/utilisation_cereales["Disponibilité intérieure"].sum()*100
disp_trt = utilisation_cereales["Traitement"].sum()/utilisation_cereales["Disponibilité intérieure"].sum()*100
disp_smc = utilisation_cereales["Semences"].sum()/utilisation_cereales["Disponibilité intérieure"].sum()*100
disp_aut = utilisation_cereales["Autres Utilisations"].sum()/utilisation_cereales["Disponibilité intérieure"].sum()*100

In [74]:
#Additionne les catégories qui ne nous intéresse pas pour avoir la part du reste
disp_autc = disp_aut + disp_smc + disp_trt + disp_prc

In [75]:
print(disp_autc)
print(disp_nre)
print(disp_ala)

13.316434803112475
18.130550970683014
69.33506248526291

## Utilisation du manioc par la Thaïlande

In [76]:
#Isole les données de dispo_alimentaire sur le Manioc
dispo_manioc = dispo_alimentaire.loc[dispo_alimentaire['Produit'] == "Manioc"]

In [77]:
#Filtre les données une nouvelle fois pour la Thaïlande
dispo_manioc = dispo_manioc.loc[dispo_manioc['Zone'] == "Thaïlande"]

In [78]:
#Jointure entre les tables dispo_manioc et pop_sous_nutrition
dispo_manioc = pd.merge(dispo_manioc, pop_sous_nutrition, on= "Zone")

In [79]:
#Drop les colonnes inutiles
dispo_manioc.drop(dispo_manioc.iloc[:, 2:9], inplace = True, axis = 1)

In [80]:
#Drop les colonnes inutiles
dispo_manioc.drop(columns=["Nourriture", "Pertes", "Semences", "Traitement"])

,Zone,Produit,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production,Variation de stock,Année,Nb de personnes en sous-nutrition,Nombre d'habitants,% en sous-nutrition
0,Thaïlande,Manioc,6.264000e+09,2.521400e+10,1.250000e+09,3.022800e+10,0.0,2017,6200000.0,69209810.0,8.958268

In [81]:
#Calcule l'exportation sur la production
dispo_manioc["Exportation/Production"] = dispo_manioc["Exportations - Quantité"]/dispo_manioc["Production"]*100

In [82]:
#Enregistre les données d'exportation/production dans une variable et arrondie la valeur
expor_sur_prod = dispo_manioc["Exportation/Production"].iloc[0].round(2)

In [83]:
#Enregistre les données de proportion de personnes en sous nutrition en Thaïlande dans une variable et arrondie la valeur
thai_s_nutri = dispo_manioc["% en sous-nutrition"].iloc[0].round(2)

In [84]:
dispo_manioc.head()

,Zone,Produit,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Nb de personnes en sous-nutrition,Nombre d'habitants,% en sous-nutrition,Exportation/Production
0,Thaïlande,Manioc,6.264000e+09,2.521400e+10,1.250000e+09,871000000.0,1.511000e+09,3.022800e+10,0.0,0.0,0.0,2017,6200000.0,69209810.0,8.958268,83.41273

In [85]:
#Affiche les valeurs
print("En Thaïlande",expor_sur_prod, "% de la production de manioc est exportée.")
print("En Thaïlande la proportion de personnes en sous-nutrition est de", thai_s_nutri, "%.")

En Thaïlande 83.41 % de la production de manioc est exportée.
En Thaïlande la proportion de personnes en sous-nutrition est de 8.96 %.